.accodion-container{
	display: flex;
	align-items: center;
	position: relative;
}

#accodion {
	/* box-shadow: 0 6px 22px 0 rgba(19, 102, 202, 0.1); */
	background-color:  #fff;
	border: solid 1px #94969c;
	padding: 15px 25px;
	cursor: pointer;
	/* overflow: hidden; */
	border-radius: 10px;
	margin: 10px auto;
	width: 100%;
}

.open{
	/* height: auto; */
	transition: height 0.25s ease-in;
  padding: 15px 20px;
	overflow: visible;
}
.close{
	height: 15px;
	transition: height 0.25s ease-out;
	overflow: hidden;
}

.icon{
	font-size: 25px;
  font-weight: 600;
	position: absolute;
  cursor: pointer;
	right: 25px;
	top: -15px;
}
