.results-container{
  box-shadow:
      0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048),
      0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072),
      0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12);

  flex-direction: 'column';
  width: 35%;
  border: thin solid #b3d0ff;
  background-color: #f2f6ff;
  padding-top: 0.75%;
  border-radius: 2px;
}

.title-text{
  text-shadow: 3px 3px 1px #4287f5;
  color: #111;
  font-size: 44px;
  font-weight: 700;
  line-height: 44px;
  margin: 0 0 24px;
  padding: 0 30px;
  text-align: 'center';
  text-transform: 'uppercase'
}

.subtitle{
  font-size: 24px;
  font-weight: bold;
  text-shadow: 3px 2px 0px #c3c6c9;
  line-height: 1.09;
  text-align: center;
  color: #323747;
  margin-top: 0;
  margin-bottom: 0;
}
