button.buttonTrue{
padding: 10px 15px;
cursor: pointer;
opacity: 0.6;
background: white;
border: 0;
outline: 0;
font-size: 14px;
font-weight: bold;
border-bottom: 2px solid transparent;
transition: ease border-bottom 100ms;
border-bottom: 2px solid black;
opacity: 1;
margin-right: 5px;
}

button.buttonFalse{
padding: 10px 15px;
cursor: pointer;
opacity: 0.6;
background: white;
border: 0;
outline: 0;
font-size: 16px;
font-weight: 400;
}
