.mobile-main-container{
  padding: 2%;
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
}

.mobile-results-container{
  flex-direction: 'column';
  border: thin solid #d0d4db;
  background-color: #f2f6ff;
  padding-top: 0.75%;
  border-radius: 8px;
}

.footer{
  display: flex;
  justify-content: center;
  background-color: #fafafa;
  border-top: 2px solid #f0f0f0;
}
