button.text-button {
    width: 170px;
    height: 43px;
    background-color: #2dd784;
    box-shadow: 0 6px 18px 0 rgba(25, 142, 85, 0.32);
    border-radius: 180px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    /* display: inline-block; */
    align-items: center;
    display: flex;
    justify-content: center;
}
